# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**Objectives:**

- Python
- R Language
- Java

**Some of the popular languages that Data Scientists use are:**

1. Python
2. R Language
3. Java

| Data Science Tools |
| -------------------|
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |
| RapidMiner |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [10]:
(200)/60

3.3333333333333335

## Nicson
Author